html, body {
  position: relative;
  height: 100%;
}
#video{
  width:100%;
  height:300px;
  background-color:#343a40;
}
#noticia{
  height: 400px;
}
#noticia-title{
  width:90%;
  border-top:2px solid #004000;
}
#curso{
  width:85%;
  height:auto;
  z-index:-1;
}
.image-curso{
  width:100%;
  height:auto;
}
#fundo{
  position:relative;
  min-height: 80vh;
  background-size:cover;
  background-attachment: fixed;
  background-image: url(../imagens/etec-itanhaem.jpg);
  background-position: center center;
  z-index: -1;
}
#fundo::after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(0,0,0,0.8);
  min-height: 80vh;
}   
.content-title{
  width:90%;
  height:100px;
  padding-top:30px;
  color:#000;
  border-bottom:2px solid #004000;
  margin-bottom: 10px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ccc;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-position: center center;
}
/*Media query para trablets*/
@media (max-width: 991.9px) {
  #curso{
    width: 85%;
    height: auto;
    z-index: -1;
  }

  .container-titulo{
    height: 60px;
  }

  .titulo{
    font-size: 1.5em;
  }
}