body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#info{
    position: relative;;
    width: 100%;
    height: 550px;
    top: 0;
    left: 0;
    z-index: 1;
}
.container-info{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1000px;
	height: 500px;
	display: flex;
}

.container-info .box{
	position: relative;
	width: 250px;
	height: 500px;
	background: #ccc;
	transition: 0.5s;
}

.container-info .box:hover{
	transform: scale(1.1);
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,1);
}

.container-info .box .thumb{
	position: absolute;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.container-info .box:nth-child(odd) .thumb{
	bottom: 0;
	left: 0;
}

.container-info .box .thumb img{
	width: 100%;
}

.container-info .box .detalhes{
	position: absolute;
	width: 100%;
	height: 250px;
	overflow: hidden;
	background: #262626;
}

.container-info .box:nth-child(even) .detalhes{
	bottom: 0;
	left: 0;
}

.container-info .box:nth-child(1) .detalhes{
	background: dark;
}

.container-info .box:nth-child(2) .detalhes{
	background: dark;
}

.container-info .box:nth-child(3) .detalhes{
	background: dark;
}

.container-info .box:nth-child(4) .detalhes{
	background: dark;
}

.container-info .box .detalhes .content{
	position: absolute;
	top: calc(50% + 16px);
	transform: translateY(-50%);
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s;
}

.container-info .box:hover .detalhes .content{
	top: calc(50%);
}

.container-info .box .detalhes .content .fa{
	font-size: 80px;
	color: #fff;
}

.container-info .box .detalhes .content h3{
	margin: 0;
	padding: 0;
	padding: 10px 0;
	color: #fff;
}

.container-info .box .detalhes .content a{
	display: inline-block;
	padding: 5px 20px;
	color: #fff;
	border: 2px solid #fff;
	text-decoration: none;
	transition: 0.5s;
	border-radius: 20px;
	transform: scale(0);
}

.container-info .box:hover .detalhes .content a{
	transform: scale(1);
}

.container-info .box .detalhes .content a:hover{
	background: #fff;
	color: #262626;
}

@media (max-width: 1000px){
	.container-info{
		width: 100%;
		height: auto;
		padding: 20px;
		box-sizing: border-box;
	}

	.container-info .box{
		height: 250px;
	}

	.container-info .box .thumb{
		display: none;
	}
}

@media (max-width: 768px){
	.container-info{
		display: initial;
	}

	.container-info .box{
		width: 50%;
		height: 250px;
		float: left;
	}
}

@media (max-width: 480px){
	#info{
    	width: 100%;
    	height: 1040px;
	}
	.container-info{
		top: 0;
		left: 0;
		transform: translate(0);
	}

	.container-info .box{
		width: 100%;
		height: 250px;
		float: left;
	}
}